body {
	background-color: #5F88B7;
	background: url(blurry.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#logo {
	width: 172px;
	height: 172px;
	background: url(honestbuildings-logo-white.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -86px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

#share,
#lyrics {
	margin: 0;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 36px;
	color: #FFF;
	cursor: pointer; 
}


#share {
	position: absolute;
	bottom: 0;
	right: 0;
}

#lyrics {
	position: absolute;
	bottom: 0;
	left: 0;
}

.lyrics {
	display: none;
	text-align: center;
	color: #FFF;
}

/* TEXT REPLACEMENT */
.ir {
	border: 0 !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	overflow: hidden !important;
}

.ir:before {
	content: "" !important;
	display: block !important;
	width: 0 !important;
	height: 100% !important;
	background: none !important;
}

/* Animation */
.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.magictime {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.puffIn {
  -webkit-animation-name: puffIn;
  -moz-animation-name: puffIn;
  -ms-animation-name: puffIn;
  -o-animation-name: puffIn;
  animation-name: puffIn;
}

@-moz-keyframes puffIn {
  0% {
    opacity: 0;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(2,2);
    -moz-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(1,1);
    -moz-filter: blur(0px);
  }
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }
}
@-o-keyframes puffIn {
  0% {
    opacity: 0;
    -o-transform-origin: 50% 50%;
    -o-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -o-transform-origin: 50% 50%;
    -o-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }
}
@-ms-keyframes puffIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform-origin: 50% 50%;
    -ms-transform: scale(2,2);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform-origin: 50% 50%;
    -ms-transform: scale(1,1);
    filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1,1);
    filter: blur(0px);
  }
}